<div class="container-fluid">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<div class="center">
<legend>Checkout</legend>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstName">First Name</label>  
  <div class="col-md-4">
  <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastName">Last Name</label>  
  <div class="col-md-4">
  <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Phone</label>  
  <div class="col-md-4">
  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="address1">Address Line1</label>  
  <div class="col-md-4">
  <input id="address1" name="address1" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Street address, P.O. box, company name, c/o</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="address1"></label>  
  <div class="col-md-4">
  <input id="address1" name="address1" type="text" placeholder="" class="form-control input-md">
  <span class="help-block">Apartment, suite, unit, building, floor, etc.</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City</label>  
  <div class="col-md-4">
  <input id="city" name="city" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="state">State/Province/Region</label>  
  <div class="col-md-4">
  <input id="state" name="state" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="zip">Zip</label>  
  <div class="col-md-4">
  <input id="zip" name="zip" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="deliveryNote">Add delivery note</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="deliveryNote" name="deliveryNote"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkoutButton"></label>
  <div class="col-md-4">
    <button id="checkoutButton" name="checkoutButton" class="btn btn-success">Place Order</button>
  </div>
</div>

</fieldset>
</form>
</div>
