<!-- Nav -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">
        <!--<img src="./images/ocdelilongsmall.png" width="48" height="20" alt="">-->
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Register</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Order Details</a></li>
            <li><a href="#">Subtotal</a></li>

            <li role="separator" class="divider"></li>
            <li><a href="#">Checkout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">
    <div class="row" >
    <div class="col-md-4" ng-repeat="item in menuCtrl.menu">
        <div class="thumbnail">
        <img src="{{item.imagePath}}" alt="..." data-toggle="modal" data-target="#myModal" ng-click="menuCtrl.getItemDetails(item._id);">
        <div class="caption">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <p>${{item.price}}</p>
        </div>
        </div>
    </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{menuCtrl.itemIngredients.item.name}}</h4>
            </div>
            <div class="modal-body">
                <h4>{{menuCtrl.itemIngredients.item.description}}</h4>
                
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Ingredient</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ingredient in menuCtrl.allIngredients | orderBy: -['-checked']:false">
                            <td><input type="checkbox" ng-checked="menuCtrl.itemIngredientsChecked(ingredient._id)"></td>
                            <td>{{ingredient.name}}</td>
                            <td>${{ingredient.total}}</td>
                        </tr>
                        <!--<tr ng-repeat="ingredient in menuCtrl.itemIngredients.ingredients">
                            <td><input type="checkbox" ng-checked="menuCtrl.itemIngredientsChecked(ingredient._id)"></td>
                            <td>{{ingredient.name}}</td>
                            <td>${{ingredient.total}}</td>
                        </tr>-->
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <div class="col-md-4">
                    <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
                </div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add to cart&nbsp;&nbsp;${{menuCtrl.orderItemTotal}}</button>
                </div>
            </div>
        </div>
    </div>
</div>