<!--<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in purchaseCtrl.products">
      <td>
        <img ng-src="{{::product.imageUrl}}" alt="">
      </td>
      <td>{{::product.name}}</td>
      <td>{{::product.description}}</td>
      <td>{{::product.retailPrice | currency}}</td>
      <td>
        <button class="btn btn-success" ng-click="purchaseCtrl.buy(product)">
          <i class="fa fa-shopping-cart"></i> Buy Now
        </button>
      </td>
    </tr>
  </tbody>
</table>-->